<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">

<div class='box'>
<% arts.forEach(function(art) { %>

<div class="hf">
	<div class="text-center">
		<a href="#"><h1><%= art.title %></h1></a>
		<div>
			<span>作者：<%= art.author %></span>
			<table class="table-line"><tr><td valign="top"></td></tr></table>
			<span>时间：<%= art.createTime %></span>
			<table class="table-line"><tr><td valign="top"></td></tr></table>
			<span><%= art.tag %></span>
		</div>
		<article>
			<p>
				<%= art.content %>
			</p>
		</article>
		<br>
		<span><a class="remove-art" data-remove-art="<%= art._id %>" href="javascript:;">删除</a></span>
		<span><a href="/edit/<%= art._id %>">编辑</a></span>
		<% if( art.dz ){ %>
		<button class="like button-active" data-ide="<%= art._id %>" disabled="disabled">已点赞</button>
	    <% }else{ %>
		<button class="like button-active" data-ide="<%= art._id %>">点赞</button>
		<% } %>
		<% if( art.clt ){ %>
		<span class="collect-art" data-collect="<%= art._id %>"><em class="collect-article collect-position"></em><em>已收藏</em></span>
		<% }else{ %>
		<span class="collect-art" data-collect="<%= art._id %>"><em class="collect-article collect-position-prev"></em><em>收藏</em></span>
		<% } %>
	</div>
	<hr/>
</div>


<% }) %>
</div>
