<%- include header %>

<div class='box'>
<% arts.forEach(function(art) { %>


<div style="margin: 50px 250px" class="hf">
	<div class="text-center">
		<a href="#" style="text-decoration: none"><h1><%= art.title %></h1></a>
		<div>
			<span>作者：<%= art.author %></span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span>时间：<%= art.createTime %></span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span><%= art.tag %></span>
		</div>
		<article>
			<p>
				<%= art.content %>
			</p>
		</article>
		<br>
		<span><a class="remove-art" data-remove-art="<%= art._id %>" href="javascript:;">删除</a></span>
		<span><a href="/edit/<%= art._id %>">编辑</a></span>
		<% if( art.dz ){ %>
		<button class="like" data-ide="<%= art._id %>" disabled="disabled">已点赞</button>
	    <% }else{ %>
		<button class="like" data-ide="<%= art._id %>">点赞</button>
		<% } %>
	</div>
	<hr/>
</div>


<% }) %>
</div>


<%- include footer %> 
    
    
    
    



