
<% arts.forEach(function(art) { %>

<div style="margin: 50px 250px">
	<div class="text-center">
		<a href="#" style="text-decoration: none"><h1><%= art.title %></h1></a>
		<div>
			<span>作者：<%= art.author %></span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span>时间：<%= art.createTime %></span>
			<table style="display:inline-block;height:12px;border-color:#369;border-left-style:solid;border-width:1px"><tr><td valign="top"></td></tr></table>
			<span><%= art.tag %></span>
		</div>
		<article>
			<p>
				<%= art.content %>
			</p>
		</article>
	</div>
	<hr/>
</div>

<% }) %>

